.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5%;
  height: 15%;
  background-color: #f2f2f2;
}

.headerTitle {
  font-size: 46px;
  color: rgb(47, 45, 45);
}
