.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12%;
  padding: 20px 50px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.headerTitle {
  font-size: calc(16px + 0.390625vw);
  font-weight: bold;
  color: var(--text-color);
  margin-left: 5%;
  text-transform: uppercase;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.logo {
  height: 80px;
  background-blend-mode: color-burn;
  margin-left: 1.5%;
  margin-top: auto;
  margin-bottom: auto;
}

.showHeaderLinks {
  visibility: visible;
}

@media (max-width: 769px) {
  .header {
    height: 8%;
  }

  .logo {
    margin-left: auto;
    height: 60px;
  }

  .showHeaderLinks {
    visibility: hidden;
  }
}

@media (max-width: 481px) {
  .modalContent {
    width: 80%;
  }
}
