.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5%;
}

.homeCard {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 80%;
}

.homeTitle {
  color: #000;
  font-size: calc(25px + 0.390625vw);
  font-weight: bold;
  margin: 0 0 20px;
}

.homeInfo {
  color: #555;
  font-size: calc(15px + 0.390625vw);
  line-height: 1.5;
  margin: 0 0 30px;
}

.homeButton {
  background-color: #ff6b6b;
  border: none;
  border-radius: 25px;
  color: #fff;
  display: block;
  font-size: calc(15px + 0.390625vw);
  font-weight: bold;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  width: 200px;
  margin: 0 auto;
}

.homeButton:hover {
  background-color: #e95757;
  cursor: pointer;
}
