:root {
  --primary-color: white;
  --secondary-color: #f8f9f2;
  --tertiary-color: #d9dfab;
  --quarternary-color: #cdfff9;
  --text-color: #333;
}

.App {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  height: 100vh;
  overflow-y: scroll;
}

.showHeaderLinks {
  z-index: 0;
  position: fixed;
  bottom: 1.5%;
  width: 100%;
  text-align: center;
  visibility: hidden;
}

@media (max-width: 769px) {
  .showHeaderLinks {
    visibility: visible;
  }
}
