.formHeader {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 2.5%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1f8fa;
  width: 35%;
}

.paragraph {
  width: 50%;
  height: 60px;
  min-height: 60px;
  max-height: 125px;
  resize: vertical;
  margin-bottom: 16px;
}

.paragraphContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.addButton {
  margin-top: 1%;
  width: 15%;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  background-color: #0077ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.addButton:hover {
  background-color: #0055aa;
}

.removeButton {
  margin-top: 0.25%;
  margin-bottom: 1.25%;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  background-color: #ef6b6b;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.removeButton:hover {
  background-color: #f34a4a;
}

.smallText {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 25%;
  margin-bottom: 16px;
}

.submitButton {
  margin-top: 1%;
  margin-bottom: 2.5%;
  width: 25%;
  padding: 8px 16px;
  border: none;
  background-color: #1da551;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submitButton:hover {
  background-color: #00ff11;
}

.attachments {
  margin: auto;
}

label {
  font-weight: bold;
  margin-bottom: 0.5%;
  margin-top: 1.25%;
  display: block;
}
